html,
body,
* {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #F2F4F3;
}


/**     NAV CSS PROPERTIES      **/

.nav-container {
    max-width: 1600px;
    height: 8vh;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid red; */
}

.nav-container-logo {
    flex: 1;
    font-family: 'Aladin', sans-serif;
    font-weight: 400;
    min-width: 200px;

    /* border: 1px solid pink; */
}

.nav-container-logo-coca {
    color: #DD504A;
    font-size: 2.7rem;
    letter-spacing: 1px;
}

.nav-container-logo-tag {
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1px;
}

.nav-container-menu {
    flex: 1;
    min-width: 50px;
}

.nav-container-navlink {
    flex: 6;

    /* border: 1px solid pink; */
}

.nav-container-navlink-p a {
    margin: 0 30px;
    text-decoration: none;
    color: #3F4240;
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.nav-container-navlink-p2 a {
    margin: 0 7px;
    text-decoration: none;
    color: #575C59;
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
}

.nav-container-navlink-p,
.nav-container-navlink-p2 {
    padding: 5px 0;
}

.nav-container-logo,
.nav-container-menu,
.nav-container-navlink {
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 0.9rem;
}





/**     HERO CSS PROPERTIES     **/

.hero-container {
    height: 87vh;
    /* border: 1px solid red; */
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hero-container-texts {
    /* border: 1px solid green; */
    height: 70%;
    width: 60%;
    padding-left: 50px;
}

.hero-container-texts-title {
    font-family: 'Gloock', sans-serif;
    font-weight: 400;
    color: #DD504A;
    font-size: 6rem;
    letter-spacing: 5px;
}

.hero-container-texts-p {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    color: #3F4441;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    margin-top: 30px;
}

.hero-container-texts-b {
    background-color: #DD504A;
    height: 55px;
    width: 280px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F2F4F3;
    font-size: 1.8rem;
    font-family: 'Amaranth';
    font-weight: 400;
    margin-top: 40px;
    letter-spacing: 1px;
}

.hero-container-image {
    margin-left: 40px;
    width: 30%;
    height: 80%;
    background-image: url('./Assets/Images/coke.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: rotate(5deg);
}



.hero-container-texts-b:hover {
    background-color: #3F4240;
    cursor: pointer;
}


/**     FOOTER CSS PROPERTIES   **/

.footer-container {
    height: 5vh;
    background-color: #DD504A;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Amaranth', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #3F4240;
}

